html {
  background: #e3e3e3;
}

body {
  font-family: Times, Times New Roman, Georgia, serif;
  margin: 50px;
  padding: 50px;
  color: #242424;
  border-top: 10px solid #242424;
  background: #fff;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

p {
  line-height: 1.5em;
}

#blog {
  border-top: 1px solid #ccc;
  display: flex;
}

.blog-post {
  border-bottom: 1px solid #ccc;
  column-count: 2;
}

article {
  border-bottom: 3px solid #ccc;
}

article:nthoftype(1) {
  flex: 1;
}

article:nthoftype(2) {
  flex: 2;
}

article:nthoftype(3) {
  flex: 1;
}

section {
  border-top: 3px solid #ccc;
}

nav {
  font-size: 3em;
}

div {
  position: sticky;
  top: 0; 
}
