html {
  background: #e3e3e3;
}

body {
  font-family: Times, Times New Roman, Georgia, serif;
  margin: 50px;
  padding: 50px;
  color: #242424;
  border-top: 10px solid #242424;
  background: #fff;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

p {
  line-height: 1.5em;
}

#blog {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
}

.blog-post {
  border-bottom: 1px solid #ccc;
}

article {
  border-bottom: 3px solid #ccc;
}

section {
  border-top: 3px solid #ccc;
}

nav {
  font-size: 3em;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

figure {
  float: right;
  width: 50%;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.7em;
  padding: 0.7em;
}
